@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800;900&display=swap');

*{
    font-family: var(--primary-font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*===== Fonts =====*/
    --primary-font-family: 'Poppins', sans-serif;

    /*===== Colors =====*/
    --primary-background: #333333;
    --sidebar-background: #1b1b1b;
    --primary-color: #d7d7d7;
    --sidebar-color: #a7a7a7;
    --sidebar-list-background: #351d52;
    --sidebar-list-hover-background: #ffffff;
    --sidebar-list-hover-color: #1b1b1b;

    /*===== Transitions =====*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

    /*===== Sizes =====*/
    --side-bar-height: 100vh;
    --side-bar-width: 10vw;
}

body {
    background-color: var(--primary-background);
    color: var(--font-color);
    transition: var(--tran-05);
}

.side-bar {
    background-color: var(--sidebar-background);
    color: var(--sidebar-color);
    width: var(--side-bar-width);
    height: var(--side-bar-height);
}

.side-bar header {
    text-align: center;
}

.side-bar li {
    background-color: var(--sidebar-list-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--side-bar-height) * 1 / 20);
    margin-top: 10px;
    font-size: large;
}

.side-bar li:hover {
    background-color: var(--sidebar-list-hover-background);
    color: var(--sidebar-list-hover-color);
    transition: var(--tran-04);
    font-size: larger;
}