@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800;900&display=swap');

*{
    font-size: 16px;
    font-family: var(--primary-font-family);
    margin: 0;
    padding: 0;
}

:root {
    /*===== Fonts =====*/
    --primary-font-family: 'Poppins', sans-serif;

    /*===== Colors =====*/
    --primary-background: #333333;
    --sidebar-background: #1b1b1b;
    --primary-color: #d7d7d7;
    --sidebar-color: #a7a7a7;
    --sidebar-list-background: #351d52;
    --sidebar-list-hover-background: #ffffff;
    --sidebar-list-hover-color: #1b1b1b;

    /*===== Transitions =====*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

    /*===== Sizes =====*/
    --sidebar-height: 100vh;
    --sidebar-width-open: 15%;
    --sidebar-width-close: 5%;
    --content-width-open: 95%;
    --content-width-close: 85%;
    --page-width: 100%;
    --page-height: 100%;
}

body {
    color:black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    margin-left: 5rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--primary-background);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
